
body{
    background-color: rgba(128, 128, 128, 0.815);
}
.contenedor{
    background-color: white;
    margin: 450px;
    margin-top: 200px;
    width: 300px;
    height: 250px;
    padding: 15px;
}
#foto{
    height: 20%;
    width: 20%;
    margin: 0px;
}
.parrafo1{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
.parrafo2{
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
}
button{
    background-color: blue;
    color: white;
    height: 30px;
    width: 120px;
    border-radius: 0.5em;
}